@using AzPC.Blazor.App.Shared
@using Microsoft.AspNetCore.WebUtilities;
@using System.Text.Json;
@using AzPC.Blazor.App.Helpers;

@attribute [Route(UIGlobals.ROUTE_LOGIN_EXTERNAL_MICROSOFT)]
@layout Layout.Empty
@inherits BaseComponent

<div class="container">
	@if (!string.IsNullOrEmpty(AlertMessage))
	{
		<CAlert type="@AlertType">
			@AlertMessage
		</CAlert>
	}
	@if (ShowReturnLinks)
	{
		<CAlert type="info">
			Return to <a href="@UIGlobals.ROUTE_HOME">Home</a> or <a href="@UIGlobals.ROUTE_LOGIN">Login</a> page.
		</CAlert>
	}
</div>
