<PageTitle>@PageTitle</PageTitle>

<div class="container">
    <CAlert type="warning">
        <span>You are not authorized to access this page. Please <a href="@LoginUrl" class="alert-link">login</a> with an account that has the required permissions.</span>
    </CAlert>
</div>

@code {
    [Parameter]
    public string LoginUrl { get; set; } = UIGlobals.ROUTE_LOGIN;

    [Parameter]
    public string PageTitle { get; set; } = "Not Authorized";
}
